  .titolo{
    font-family: 'Monaco', monospace;
    font-style: oblique;
    list-style: none;
    background-color: none;
    padding:0px;
    margin:5px;
    text-align: center;
    color:#00ff4c
  }

  h3 {
    font-family: 'Monaco', monospace;
    font-style: oblique;
    list-style: none;
    background-color: none;
    padding:0px;
    margin:5px;
    text-align: left;
    color:#ffa500
  }

  h4 {
    font-family: 'Monaco', monospace;
    font-style: oblique;
    list-style: none;
    background-color: none;
    padding:0px;
    margin:5px;
    text-align: left;
    color:#fff
  }
  
  form {
    font-family: 'Monaco', monospace;
    font-style: oblique;
    background-color: white;
  }
