.titolo{
  font-family: 'Monaco', monospace;
  font-style: oblique;
  list-style: none;
  background-color: none;
  padding:0px;
  margin:5px;
  text-align: center;
  color:#ffa500
}

  
  