html{
    border-style: solid;
}

body{
    background-color: rgb(239, 209, 179);
}

.titolo{
    font-family: 'Monaco', monospace;
    font-style: oblique;
    list-style: none;
    background-color: none;
    margin:5px;
    text-align: center;
    color: black;
}

h2{
    font-family: 'Monaco', monospace;
    font-style: oblique;
}

.home{
    position: absolute;
    top:8px;
    left:16px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Monaco', monospace;
    font-style: oblique;
    color: #ff0000;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form{
    display:flex;
    flex-direction: column;
    width: 20%;
}

form label{
    font-family: 'Monaco', monospace;
    font-style: oblique;
    margin-bottom: 10px;
}

input{
    margin-bottom: 20px;
}

.crediti{
    font-family: 'Monaco', monospace;
    font-style: oblique;
    text-align: center;
  }