.menu {
    font-family: Arial, Verdana, sans-serif;         /*mostra le scritte nel font Arial, se esso non è presente nel browser dell'utente mostra Verdana e così via*/
    list-style: none;
    background-color: #b4b4b4;
    padding: 0px;
    margin-top: 20px;
    text-align: center;
  }
  
  .menu li {                                
    display: inline-block;                  /*mostra sulla stessa linea gli elementi "li" */
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;                   /*rimuove la sottolineatura dei link*/
    color: #333;
  }
  
  .menu li a:hover {
    background-color: #787878;                /*definisce il tipo di visualizzazione (colore di background) del link quando ci sta il cursore*/
    color: #fff;                               /* colore del testo*/
  }

  .lista{
    font-family: Arial, sans-serif;
    list-style: none;
    background-color: #ffa500;
    padding:0px;
    margin:0px;
    margin-top: 5px;
    text-align: left;
  }
  
  
  .lista li a {
    display:inline-block;
    padding: 5px;
    text-decoration: none; 
    color: #333;
  }
  
  .lista li a:hover {
    background-color: #575555;                /*definisce il tipo di visualizzazione (colore di background) del link quando ci sta il cursore*/
    color: #fff;                               /* colore del testo*/
  }

  .icon{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    background-color: #b4b4b4;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    text-align: center;
  }

  .icon li{
    display: inline-block;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }

  .icon li a {
    display: block;
    padding: 5px;
    margin: 0px;
    text-decoration: none;                   /*rimuove la sottolineatura dei link*/
    color: #333;
  }

  .icon li a:hover {
    background-color: #ffa500;                /*definisce il tipo di visualizzazione (colore di background) del link quando ci sta il cursore*/
    color: #fff;                               /* colore del testo*/
  }

  .titolo{
    font-family: 'Monaco', monospace;
    font-style: oblique;
    list-style: none;
    background-color: none;
    padding:0px;
    margin:5px;
    text-align: center;
    color:#ffa500
  }

  h3 {
    font-family: 'Monaco', monospace;
    font-style: oblique;
    list-style: none;
    background-color: none;
    padding:0px;
    margin:5px;
    text-align: left;
    color:#ffa500
  }
  